body {background-color: rgba(7, 143, 197, 0.952); text-align: center; font-style:italic;justify-content
}
strong{color:rgb(99, 5, 136);
}
h1{color: rgb(120, 11, 221);font-style:italic;
}
p{color:rgb(131, 128, 128); font-size:medium
}
nav a{color:rgb(194, 10, 10);
}
.p1{color:rgb(7, 151, 151); font-style:italic;
}
.p2{color:rgb(234, 247, 247); font-style:italic;
}
.p3{color:rgb(0, 0, 0); font-style:italic;
}
h2{color:aquamarine;font-style:italic
}
.img0{ width: 25%
}
li{color:aliceblue
}
header {
    border: solid 2px white; padding:7%
}
.Musicas{display: flex
}