body {background-color: rgba(103, 179, 209, 0.952); text-align: center; font-style:italic;justify-content
}
strong{color:rgb(99, 5, 136);
}
h1{color: blueviolet;font-style:italic;
}
p{color:grey; font-size:medium
}
nav a{color:darkred;
}
.p1{color:rgb(7, 151, 151); font-style:italic;
}
.p2{color:rgb(234, 247, 247); font-style:italic;
}
.p3{color:rgb(0, 0, 0); font-style:italic;
}
h2{color:aquamarine;font-style:italic
}
.img0{ width: 25%
}
li{color:aliceblue
}
header {
    border: solid 2px white; padding:7%
}
.Musicas{display: flex
}