body {background-color: rgba(103, 179, 209, 0.952);
}
strong{color:rgb(99, 5, 136);
}
h1{color: blueviolet;
}
p{color:grey;
}
nav a{color:darkred;
}
.p1{color:rgb(7, 151, 151); font-style:unset;
}
.p2{color:rgb(234, 247, 247); font-style:unset;
}
.p3{color:rgb(0, 0, 0); font-style:unset;
}